# Runs data analyssis on student marks

#Find - higher Scored in a subject
      - higher marks

In [17]:
def highest_Score_in_Maths():
    student_1 = {
        "Name": "Ghyanesh",
        "Maths": 72,
        "Social": 56,
        "Science": 67,
        "English": 85
    }
    student_2 = {
        "Name": "Deepa",
        "Maths": 62,
        "Social": 66,
        "Science": 57,
        "English": 59
    }
    student_3 = {
        "Name": "Dixa",
        "Maths": 65,
        "Social": 87,
        "Science": 59,
        "English": 87
    }
    student_4 = {
        "Name": "Suraksha",
        "Maths": 68,
        "Social": 56,
        "Science": 67,
        "English": 85
    }
    student_5 = {
        "Name": "Shreya",
        "Maths": 52,
        "Social": 76,
        "Science": 74,
        "English": 47
    }

    student_list = [student_1, student_2, student_3, student_4, student_5]
    highest_score_in_maths = 0
    highest_score_name = ""

    for student in student_list:
        if student.get("Maths") > highest_score_in_maths:
            highest_score_in_maths = student.get("Maths")
            highest_score_name = student.get("Name")

    print(f"Highest_Score_in_Maths - {highest_score_in_maths}, Highest_Score_in_Maths_name - {highest_score_name}")

highest_Score_in_Maths()

Highest_Score_in_Maths - 72, Highest_Score_in_Maths_name - Ghyanesh